*{
    box-sizing: border-box;
  }

body { /* corpo */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #A9D6E5;
    color: #000;
}

body .dark-mode {
    background-color: #4a4a4a;
    color: #fff;
}

section .dark-mode {
    background-color:#252922 ;
 }

#mode-toggle {
    background-color: #4a4a4a; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    margin: 10px;
    font-size: 16px; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

header { /* cabeçalho */
    background-color: #468FAF;
    color: white;
    padding: 5px 0;
    font-size: 1.2em;
    display: flex;
    align-items: flex;
}
header .dark-mode { /* cabeçalho */
    background-color: rgb(35, 4, 61);
    color: white;
    padding: 5px 0;
    font-size: 1.2em;
    display: flex;
    align-items: flex;
}
header .dark-mode { /* cabeçalho */
    background-color: rgb(35, 4, 61);
    color: white;
    padding: 5px 0;
    font-size: 1.2em;
    display: flex;
    align-items: flex;
}

nav ul { /* menu */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li { /* itens do menu */
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    
}

nav ul li a { /* links do menu */
    color: rgb(255, 255, 255);
    text-decoration: none;
    
}

main { /* conteúdo principal */
    padding: 10px;
    
}

footer { /* rodapé */
    background-color: #468FAF;
    color: DARK-GREY;
    text-align: center;
    padding: 1px ;
    bottom: 0;
    width: 100%;
}

table { /* tabela */
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    
}

th, td { /* células da tabela */
    padding: 12px;
    border: 1px solid #2C7DA0;
    text-align: left;
}

th { /* cabeçalho da tabela */
    background-color: #61A5C2;
    color: white;
}
tr {
    background-color: #89C2D9;
}

tr:nth-child(even) { /* linhas pares */
    background-color: #A9D6E5;
}

tr:hover { /* linhas com o mouse em cima */
    background-color: #468FAF;
}

a { /* links */
    color: #0a49ae;
    transition: color 0.3s;
}

a:hover, button:hover { /* links com o mouse em cima */
    color: #357ae8;
}



.logo-link img {
    height: 70px; /* Ajuste a altura conforme necessário */
    width: auto; /* Mantém a proporção da imagem */
    align-self: flex;
    margin: 10px;
    
}
.mode-toggle {
    display:flex;
    align-self: flex;
    margin: 10px;
    
}
.mode-toggle {
    display:flex;
}


.menu-navegacao li {
    margin: 0 5px; /* Espaçamento entre os itens do menu */
    border-right: 1px solid #518bbb; /* Linha entre os itens */
    padding-right: 20px; /* Espaço entre o texto e a linha */
}

.menu-navegacao li:last-child {
    border-right: none; /* Remove a borda do último item */
}

.menu-navegacao a {
    text-decoration: none;
    color: #0e323b; /* Cor do texto do menu */
    padding: 5px 0; /* Espaçamento para a linha inferior aparecer */
    display: flex;
    display: flex;
}

.menu-item.active a, .menu-navegacao a:hover {
    border-bottom: 2px solid blue; /* Linha de destaque para a aba ativa e ao passar o mouse */
}

.news-image {
    width: 10%; /* largura da celula*/
}

.news-image img {
    width: 85%; /* ocupa todo o espaço */
    height: auto;
    margin-bottom: 20px;
}

.news-content {
    vertical-align: top; /* alinha a noticia */
    padding-left: 20px; /* espaçamento */
}

.news-item h3 { /* titulo da noticia */
    margin-top: 0;
}

.news-item p { /* texto da noticia */
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.fade-in { /* animacao de entrada */
    animation: fadeIn 0.5s;
}

.fade-out { /* animacao de saída */
    animation: fadeOut 0.5s;
}

.support-section {
    padding: 20px;
    background-color: #eee;

}

.support-contact form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.input-field {
    margin-bottom: 15px; /* Aumenta a margem abaixo de cada campo */
    padding: 10px; /* Aumenta o preenchimento dentro de cada campo */
    width: calc(100% - 20px); /* Ajuste a largura conforme necessário */
    /* Outros estilos como borda, cor, etc. */
}

.forum-section {
    padding: 20px;
    /* Outros estilos conforme necessário */
}

.forum-topics {
    margin-top: 20px;
}

.forum-topic {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f0f0f0; /* Cor de fundo para cada tópico */
    text-decoration: none;
    color: #000000; /* Cor do texto */
    border-radius: 5px;
}

.forum-topic:hover {
    background-color: #e0e0e0; /* Cor de fundo ao passar o mouse */
}

.discussion-topic {
    padding: 20px;
}

.message-area {
    margin-bottom: 20px;
    border: 1px solid #ccc; /* Borda para a área de mensagens */
    padding: 10px;
    max-height: 500px; /* Ajuste conforme necessário */
    overflow-y: auto; /* Permite rolagem se muitas mensagens */
}

.message {
    background-color: #f0f0f0;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
}

.message-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.message-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.message-form button:hover {
    background-color: #0056b3;
}

.message {
    display: flex;
    align-items: flex-start; /* Alinha a imagem e o texto verticalmente */
    margin-bottom: 10px;
    padding: 8px;
}

.profile-pic {
    width: 50px; /* Ajuste o tamanho conforme necessário */
    height: 50px; /* Ajuste o tamanho conforme necessário */
    border-radius: 50%; /* Torna a imagem circular */
    margin-right: 10px; /* Espaço entre a imagem e o texto */
}

.about-us {
    padding: 20px;
    background-color: #A9D6E5;
    color: #05274e;
}

.team-members {
    display: flex;
    flex-wrap: wrap; /* Para ajustar responsivamente */
    justify-content: space-around; /* Espaçamento uniforme */
    margin-top: 20px;
}

.member {
    text-align: center; /* Centraliza o texto e a imagem */
    margin-bottom: 20px;
}

.member img {
    width: 150px; /* Ajuste conforme necessário */
    height: 150px; /* Ajuste conforme necessário */
    border-radius: 50%; /* Para imagens redondas */
    margin-bottom: 10px;
}

.news-article {
    padding: 20px;
    background-color: #A9D6E5;
    color: #000;
}

.news-image-notice  {
    width: 40%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.news-description {
    text-align: justify;
    margin-bottom: 50px;
    font-family: sans-serif;
    font-size: 25px;

}
.news-article-graph {
    padding: 20px;
    max-width: 800px; /* Ajuste a largura conforme necessário */
    margin: auto; /* Centraliza a seção na página */
}

.news-graphic {
    width: 100%; /* Faz a imagem se ajustar à largura do container */
    height: auto; /* Mantém a proporção da imagem */
    margin-bottom: 20px;
}

.news-article-graph h1 {
    font-size: 2em;
    margin-bottom: 25px;
    text-align: center;
}

.news-description {
    font-size: 1.2em;
    line-height: 1.6;
    text-align: justify; /* Para um alinhamento justificado do texto */
}

#featured-news { /* notícias em destaque */
    background-color: #A9D6E5;
    padding: 10px;
    margin-bottom: 20px;
}

#news-list { /* lista de notícias */
    background-color: #61A5C2;
    padding: 10px;
}
  

@keyframes fadeIn { /* animação de entrada */
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut { /* animação de saída */
    from { opacity: 1; }
    to { opacity: 0; }
}
@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}


@media screen and (max-width: 600px) { /* responsividade */
    
    nav ul {
        flex-direction: flex-end;
    }
    
    nav ul li { /* itens do menu */
        display: inline;  
        font-size: 11px; 
        width: auto;
        height: auto;
        padding: 5px;
        
    }
    
    .login-button-container {
        position: absolute;
        top: 5px;  /* Ajuste conforme necessário */
        right: 15px; /* Ajuste conforme necessário */
        z-index: 100; /* Garante que o botão fique sobre outros elementos */
    }

    .news-image {
        width: 100%;
    }
    
    .news-content {
        padding-left: 0;
    }
    
    .logo-link img {
        height: 0px; /* Ajuste a altura conforme necessário */
        width: auto; /* Mantém a proporção da imagem */
        align-self: flex; /* Alinha a imagem à direita */
    }
    
    #searchForm {
        flex-direction:column;
        width: 100%;
        height: auto;
        padding: 2px;
        align-self:baseline;

    }
    
    #searchBox {
        width: 100%;
        padding: 2px;
        margin-right: 10px;
    }
    
    #featured-news {
        margin-bottom: 10px;
    }
    
    #news-list {
        margin-bottom: 10px;
        background-color: #A9D6E5;
    }
    
    footer {
        position:fixed;
    }
}

@media screen and (max-width: 600px) {
    nav ul {
      flex-direction: column;
      align-items: flex-end;
    }
  
    nav ul li {
      display: block;
      font-size: 14px;
      width: 100%;
      text-align: right;
      margin-bottom: 5px;
    }
  
    .login-button-container {
      top: 5px;
      right: 15px;
    }
  
    .news-image {
      width: 100%;
    }
  
    .news-content {
      padding-left: 0;
    }
  
    .logo-link img {
      height: 60px;
      width: auto;
      align-self: flex-end;
    }
  
    #searchForm {
      flex-direction: column;
      width: 100%;
      height: auto;
      padding: 5px;
      align-self: baseline;
    }
  
    #searchBox {
      width: 100%;
      padding: 5px;
      margin-right: 0;
    }
  
    #featured-news,
    #news-list {
      margin-bottom: 10px;
      padding: 10px;
    }
  
    footer {
      position: static;
    }
  }



.autocomplete-items {
    /* Sugestões de estilos para a lista de sugestões */
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

.searchBox div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
}

.autocomplete-items div:hover {
    /* Quando passar o mouse sobre um item da lista */
    background-color: #e9e9e9; 
}



.imagem-container {
    position: relative;
    display: inline-block;
}

.imagem-container .social-icons {
    display: none;
    position: absolute;
    top: 10px; /* Ajuste conforme necessário */
    left: 10px; /* Ajuste conforme necessário */
    z-index: 10;
}

.imagem-container:hover .social-icons {
    display: block;
}

/* Estilize os links de compartilhamento conforme necessário */
.social-icons a {
    margin: 0 5px;
    text-decoration: none;
    /* Adicione mais estilos aqui */
}


.share-options {
    display: none;
    position: absolute; /* Ajuste conforme necessário */
    /* Outros estilos de posicionamento e design */
}

.share-icon {
    margin: 5px;
    text-decoration: none;
    color: #000; /* ou a cor desejada */
    font-size: 24px; /* Ajuste o tamanho dos ícones */
}

/* Estilize os botões e ícones conforme necessário */


.search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
  }
  .input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #22a6b3;
    padding-right: 40px;
    color:#fff;
  }
  .input-search::placeholder{
    color:rgba(255,255,255,.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  .btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#ffffff ;
    background-color:transparent;
    pointer-events: painted;  
  }
  .btn-search:focus ~ .input-search{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }