body { /* corpo */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header { /* cabeçalho */
    background-color: rgb(27, 169, 27);
    color: white;
    padding: 10px 0;
    font-size: 1.2em;
}

nav ul { /* menu */
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li { /* itens do menu */
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    
}

nav ul li a { /* links do menu */
    color: rgb(255, 255, 255);
    text-decoration: none;
    
}

main { /* conteúdo principal */
    padding: 10px;
}

footer { /* rodapé */
    background-color: #181818;
    color: white;
    text-align: center;
    padding: 1px ;
    position: fixed;
    bottom: 0;
    width: 100%;
}

table { /* tabela */
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td { /* células da tabela */
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

th { /* cabeçalho da tabela */
    background-color: rgb(27, 169, 27);
    color: white;
}

tr:nth-child(even) { /* linhas pares */
    background-color: #f2f2f2;
}

tr:hover { /* linhas com o mouse em cima */
    background-color: #ddd;
}

a { /* links */
    color: #0a49ae;
    transition: color 0.3s;
}

a:hover, button:hover { /* links com o mouse em cima */
    color: #357ae8;
}


.news-image {
    width: 10%; /* largura da celula*/
}

.news-image img {
    width: 85%; /* ocupa todo o espaço */
    height: auto; 
}

.news-content {
    vertical-align: top; /* alinha a noticia */
    padding-left: 20px; /* espaçamento */
}

.news-item h3 { /* titulo da noticia */
    margin-top: 0;
}

.news-item p { /* texto da noticia */
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
/* Animação de entrada */
.fade-in {
    animation: fadeIn 0.5s;
}

/* Animação de saída */
.fade-out {
    animation: fadeOut 0.5s;
}

#searchForm {
    /* Estilizações de exemplo */
    display: flex;
    align-items: center;
    
}

#searchBox {
    /* Estilizações de exemplo */
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #818181;
}

#featured-news { /* notícias em destaque */
    background-color: #eee;
    padding: 10px;
    margin-bottom: 20px;
}

#news-list { /* lista de notícias */
    background-color: #f8f8f8;
    padding: 10px;
}
  
/* Keyframes para fadeIn e fadeOut */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}


/* Responsividade */
@media screen and (max-width: 600px) {
    
    /**/
}