body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(27, 169, 27);
    color: white;
    padding: 10px 0;
    font-size: 1.2em;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

#featured-news {
    background-color: #eee;
    padding: 10px;
    margin-bottom: 20px;
}

#news-list {
    background-color: #f8f8f8;
    padding: 10px;
}

footer {
    background-color: #181818;
    color: white;
    text-align: center;
    padding: 1px ;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: rgb(27, 169, 27);
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

/* Links */
a {
    color: #0a49ae;
    transition: color 0.3s;
}

a:hover {
    color: #357ae8;
}

/* Responsividade */
@media screen and (max-width: 600px) {
    /* Estilos para telas menores */
}

/* Estilos para a célula da imagem */
.news-image {
    width: 10%; /* Ajuste a largura conforme necessário */
}

.news-image img {
    width: 85%; /* Faz a imagem ocupar toda a largura da célula */
    height: auto; /* Mantém a proporção da imagem */
}

/* Estilos para a célula de conteúdo */
.news-content {
    vertical-align: top; /* Alinha o conteúdo ao topo */
    padding-left: 20px; /* Adiciona espaço entre a imagem e o texto */
}

/* Estilos para o título e a descrição */
.news-item h3 {
    margin-top: 0;
}

.news-item p {
    /* Estilos para a descrição */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
