/* Conteúdo do estilo.css */
table {
    width: 80%;
    height: 300px;
    border-collapse: collapse;
    margin: 20px;
}

table, th, td {
    border: 2px solid black;
}

th, td {
    padding: 15px;
    text-align: left;
    background-color: #f2f2f2;
}
body {
    background-image: url('image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
td a {
    display: flex;
    text-align: right; /* Ajuste para alinhar o link à esquerda dentro da célula */
    vertical-align: bottom; /* Ajuste para alinhar o link perto da linha inferior da célula */
}
